html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
}

.ds-fxcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mg-md{margin-bottom: 2rem;}
.w-10{width: 100%;}
.bg-red{background-color: red;}
.font-pri{color: violet;}
.pd-2{padding: 2rem;}
.mg{margin: 1.5rem;}

.heading-3{
    font-size: 3rem;
    font-weight: 600;
}

.container{
    font-size: 1.8rem;
    height: 100vh;
    width: 100vw;
    /* background-color: orangered; */
}

.square{
    display: flex;
    background-color: #fff;
    height: 80%;
}

.completed-list, .todo-list{
    width: 50%;
    height: 30rem;
    border-radius: 10px;
    background-color: violet;
}

.todo-input{
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}

.todo-input:focus{
    outline: none;
}

button{
    font-size: 2rem;
    height: 3.5rem;
    /* width: 7rem; */
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);

}

.strike{
    text-decoration: line-through;
}

.remove{
    display: none;
}

